#root {
  font-family: 'Roboto', sans-serif;
}

#RtTimeline {
  margin: auto auto;
  display: 'flex';
  flex-direction: 'column';
  border: none !important;
  box-shadow: none !important;

  h1 {
    color: rgba(0, 0, 0, 0.6);
  }

  h2 {
    color: rgba(0, 0, 0, 0.4);
  }

  h3 {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
  }

  #RtBody {
    height: 95%;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: row;
    #RtEntrySidebar {
      padding: 1rem;
      width: 25%;
      a,
      a:visited {
        color: #bbb;
        text-decoration: none;
      }
      img.rt-entry-sidebar-map {
        max-width: 300px;
      }
      ul.rt-entry-sidebar-themes {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0.5rem;
          margin: 0.5rem;
          border-radius: 0.5rem;
          background-color: #f5f5f5;
          color: #bbb;
          font-size: 0.667rem;
          cursor: pointer;
          &:hover {
            background-color: #e5e5e5;
          }
        }
      }
    }
    #RtEntryContent {
      padding: 1rem;
      width: 75%;
      p {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  #RtBottomNavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    .rt-bottom-navigation-button {
      margin: auto auto;
    }
    .rt-bottom-navigation-text {
      margin: auto auto;
      width: 80vw;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
