#root {
  font-family: 'Roboto', sans-serif;
}

#RtTimeline {
  margin: auto auto;
  display: 'flex';
  flex-direction: 'column';
  border: none !important;
  box-shadow: none !important;

  h1 {
    color: rgba(0, 0, 0, 0.6);
  }

  h2 {
    color: rgba(0, 0, 0, 0.4);
  }

  h3 {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
  }

  #RtBody {
    height: 95%;
    border: none !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: row;
    #RtEntrySidebar {
      padding: 1rem;
      width: 20%;
      a,
      a:visited {
        color: #bbb;
        text-decoration: none;
      }
    }
    #RtEntryContent {
      padding: 1rem;
      width: 80%;
    }
  }
  #RtBottomNavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #f5f5f5;
    .rt-bottom-navigation-button {
      margin: auto auto;
      fill: red;
    }
    .rt-bottom-navigation-text {
      margin: auto auto;
      width: 80vw;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
